include ./common/_mixins.pug

block variables

doctype html
html(lang="ru")
  head
    meta(charset="utf-8")
    meta(content="ie=edge, chrome=1" http-equiv="x-ua-compatible")
    meta(content="width=device-width, initial-scale=1" name="viewport")
    title Portfolio | #{title}
    // build:css
    link(rel='stylesheet' href='/styles/main.css')
    // endbuild
    link(rel="shortcut icon" href="/favicon.ico") 
  body
    .wrapper
      .maincontent
        include ./common/header.pug
        .content
          .container
            block content
        include ./common/footer.pug

